{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
{% if form.errors %}
<p>Sorry there was an error with your form</p>
{% else %}
<div class="mainpage">
    <div class="register shadow-lg p-3 mb-5 bg-white rounded">
        <h1 class="createlbl">CREATE ACCOUNT</h1>
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <center>
                <input type="submit" class="btn btn-secondary" value="Submit">
            </center>
        </form>
    </div>
</div>
{% endif %}


{% endblock %}