{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="mainpage">
    {% if user.is_authenticated %}
    <div class="balance shadow-sm p-3 mb-5 bg-body rounded ">
        <h1>BALANCE FROM TOTAL AMOUNT</h1>
        <table class="table table-hover table-bordered">
            <thead class="table-dark">
                <th>Previous</th>
                <th>Current balance</th>
            </thead>
            <tbody>
                {% if amount %}
                {% for money in amount %}
                <td>{{money.amount}}</td>
                <td>{{money.date}}</td>
                {% endfor %}
                {% endif %}
            </tbody>

        </table>
    </div>
    {% endif %}
</div>
{% endblock %}