{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="mainpage">
    <div class="balance shadow-sm p-3 mb-5 bg-body rounded ">
        <h1>BALANCE FROM TOTAL AMOUNT</h1>
        <table class="table table-hover table-bordered">
            <thead class="table-dark">
                <th>Previous</th>
                <th>Current balance</th>
            </thead>
            <tbody>
                <td>1</td>
                <td>2</td>
            </tbody>

        </table>
    </div>
</div>
{% endblock %}