{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="mainpage">
    <div class="employee shadow-sm p-3 mb-5 bg-body rounded">
        <h1>EMPLOYEE RECORDS</h1>
        <table class="table table-hover table-bordered">
            <thead class="table-dark">
                <th>STAFF ID</th>
                <th>NATIONALITY</th>
                <th>NATIONAL ID</th>
                <th>APPOINTMENT DATE</th>
                <th>DATE OF BIRTH</th>
                <th>JOB TITTLE</th>
            </thead>
            <tbody>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tbody>

        </table>
    </div>
</div>
{% endblock %}